@import url(./fonts.css);

/*
  Global
*/

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  overflow-y: scroll;
  padding: 4.5rem 0 2rem;
}

code {
  font-family: monospace;
}

/*
  Helpers
*/

.no-select, .no-select * {
  user-select: none;
}

/*
  Bootstrap
*/

.display-1 {
  border-bottom: solid 1px rgba(23, 163, 184, 0.1);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
}
.btn:focus {
  box-shadow: 0 0 0 0 !important;
}
.nav-link {
  cursor: pointer;
  user-select: none;
}
.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
  Navbar
*/

.navbar__picture {
  height: 1.5rem;
  margin-right: .5rem;
}

/*
  Footer
*/
.footer {
  bottom: 0;
  font-size: 11px;
  height: 2rem;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
}
.footer__image {
  margin-bottom: 2px;
}
.footer__button {
  font-size: 10px;
  padding: 2px 4px;
}

/*
  List
*/

.list__headCell {
  cursor: pointer;
}
.list__headCell:hover {
  background-color: springgreen;
}
.list__headCell > i {
  font-size: 1.5rem;
  vertical-align: bottom;
}
.list__iconHeadCell {
  width: 2rem;
}
.list__iconCell {
  font-size: 1.15rem;
  width: 2rem;
  user-select: none;
}
.list__iconCell-action {
  cursor: pointer;
}
.list__iconCell-action:hover {
  background-color: #007bff;
}
.list__iconCell-action:hover > i {
  color: white;
}

/*
  Form
*/
.form__markdownField,
.form__markdownPreview {
  font-size: 14px;
  height: 20rem;
}
.form__markdownField {
  font-family: monospace;
}
.form__markdownPreview {
  max-height: 20rem;
  white-space: pre-wrap;
}
.form__markdownPreview h1 {
  font-size: 1.5rem;
}
.form__markdownPreview h2 {
  font-size: 1.25rem;
}
.form__markdownPreview h3 {
  font-size: 1.1rem;
}
.form__markdownPreview h4, h5, h6 {
  font-size: 1rem;
}

/*
  Key
*/
.key__markdownPreview {
  max-height: 20rem;
  white-space: pre-wrap;
}

/*
  Translation
*/

.translation__icon,
.translation__action-on,
.translation__action-off {
  font-size: 1.5rem;
}
.translation__action-on,
.translation__action-off {
  cursor: pointer;
}
.translation__action-off,
.translation__action-on:hover {
  color: #6c757d;
}
.translation__action-on,
.translation__action-off:hover {
  color: #007bff;
}

