@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding-top: 4.5rem;
}

.navbar__picture {
  height: 1.5rem;
  margin-right: .5rem;
}

.footer {
  background-color: rgba(0, 0, 0, .2);
  bottom: 0;
  font-size: 11px;
  height: 2rem;
  padding: 0 1rem;
  position: absolute;
  width: 100%;
}
.footer__image {
  margin-bottom: 2px;
}
.footer__button {
  font-size: 10px;
  padding: 2px 4px;
}
