doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block meta
    title #{global.websiteName}
    link(rel='icon' href='/favicon.png')
    style
      include ../../build/app.css
  body
    block body
    script(src=`/js/vendors.js?v=${global.version}`)
    script(src=`/js/app.js?v=${global.version}`)
