footer(class='footer d-flex justify-content-between align-items-center text-white bg-info no-select')
  div
    a(rel='license' href='http://creativecommons.org/licenses/by/4.0/' target='_blank')
      img(class='footer__image' src='https://i.creativecommons.org/l/by/4.0/80x15.png' alt='Creative Commons License')
    span(class='ml-2') Creative Commons Attribution 4.0 International License.
  div
    a(
      class='btn btn-outline-light footer__button'
      href='https://github.com/Electra-project/translectra'
      target='_blank'
    ).
      Translectra v#{global.version}
