footer(class='footer d-flex justify-content-between align-items-center')
  div
    a(rel='license' href='http://creativecommons.org/licenses/by/4.0/' target='_blank')
      img(alt='Creative Commons License' src='https://i.creativecommons.org/l/by/4.0/80x15.png')
  div
    span Translectra v#{global.version}
    if global.releaseVersion
      span ■ Release v#{global.releaseVersion}
