nav(class='navbar navbar-expand-md navbar-dark fixed-top bg-dark no-select')
  a(class='navbar-brand' href='/')
    img(class='d-inline-block align-top' src='/img/logo.svg' width='30' height='30' alt='Electra logo')
    span(class='ml-2') #{global.websiteName}

  div(class='collapse navbar-collapse')
    ul(class='navbar-nav navbar-dark')
      if (global.me && global.me.isActivated)
        li(class='nav-item')
          a(class='nav-link' href='/user/dashboard') Dashboard
        li(class='nav-item')
          a(class='nav-link' href='/user/translate') Translate
      if (global.me && global.me.isManager)
        li(class='nav-item dropdown')
          a(class='nav-link dropdown-toggle' href='#' data-toggle='dropdown') Management
          div(class='dropdown-menu')
            a(class='dropdown-item' href='/management/keys') Keys
      if (global.me && global.me.isAdmin)
        li(class='nav-item dropdown')
          a(class='nav-link dropdown-toggle' href='#' data-toggle='dropdown') Administration
          div(class='dropdown-menu')
            a(class='dropdown-item' href='/admin/countries') Countries
            a(class='dropdown-item' href='/admin/languages') Languages
            a(class='dropdown-item' href='/admin/projects') Projects
            a(class='dropdown-item' href='/admin/users') Users
            a(class='dropdown-item' href='/admin/settings') Settings

  if global.me
    a(class='btn btn-secondary btn-sm' href='/auth/logout' aria-label='Log out')
      img(class='rounded-circle navbar__picture' src=`https://www.gravatar.com/avatar/${global.me.gravatar}`)
      span Log Out
  else
    a(class='btn btn-primary btn-sm' href='/auth/login' aria-label='Log in with Google') Log In / Sign Up with Google
