extends ../layout.pug

block meta
  meta(name='model' content=JSON.stringify('project'))
  meta(name='schema' content=JSON.stringify([
    { name: 'name', type: 'text', isColumn: true, isField: true, label: 'Name' },
    { name: 'versions', type: 'tags', isColumn: false, isField: true, label: 'Versions' },
    { name: 'author', type: 'foreign', isColumn: true, isField: false, label: 'Author' },
    { name: 'updatedAt', type: 'date', isColumn: true, isField: false, label: 'Updated' },
    { name: 'createdAt', type: 'date', isColumn: true, isField: false, label: 'Created' },
  ]))
  meta(name='meta' content=JSON.stringify({
    defaultName: 'name',
    foreignData: {
      author: users,
    },
    sortBy: 'name',
    sortOrder: true,
  }))

block content
  h1(class='display-1 no-select') Projects
  div(id='data-table') Loading...
