extends ../layout.pug

block meta
  meta(name='model' content=JSON.stringify('user'))
  meta(name='schema' content=JSON.stringify([
    { name: 'name', type: 'text', isColumn: true, isField: true, label: 'Display Name' },
    { name: 'email', type: 'text', isColumn: true, isField: false, label: 'Email' },
    { name: 'updatedAt', type: 'date', isColumn: true, isField: false, label: 'Last Login' },
    { name: 'createdAt', type: 'date', isColumn: true, isField: false, label: 'Registration' },
    { name: 'isManager', type: 'boolean', isColumn: true, isField: true, label: 'Manager' },
    { name: 'isAdmin', type: 'boolean', isColumn: true, isField: true, label: 'Admin' },
  ]))
  meta(name='meta' content=JSON.stringify({
    canCreate: false,
    defaultName: 'name',
    sortBy: 'updatedAt',
    sortOrder: false,
  }))

block content
  h1(class='display-1 no-select') Users
  div(id='data-table') Loading...
