extends ../layout.pug

block meta
  meta(name='meta' content=JSON.stringify({
    foreignData: {
      languages,
      projects,
    },
  }))

block content
  h1(class='display-1 no-select') Translate
  div(id='translate-table') Loading...
